body{
    font-family: 'Ubuntu', sans-serif;
    background-color:#ffffe6;
    }
    
    .nav-link {
    font-size: 13px;
    }
    
    
    a.navbar-brand img { /* a.navbar-brand shows that it is an a class and the element with the class navbar-brand has an img inside of it */
    width: 100px;
    }
    .jumbotron { 
    background-image: url(couplejumbo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px ;
    padding-top: 100px ;
    color: white;
    text-shadow: 2px 2px 8px #c61ca1;
    
    }

    .jumbotron2 { 
        background-image: url(flights.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 600px ;
        padding-top: 100px ;
        color: white;
        text-shadow: 2px 2px 8px #c61ca1;
        
        }
    .card-deck {
    
    padding-top: 50px;

    }

    .display-4 {
        text-align: left;
        margin-top: 250px;
    }

    .lead {
        text-align: left;
       
    }

    .card-title{
        text-align: center;
        font-weight: bolder;

    }

    .card-text-center {

        padding-top: 100px ;

    }
    /* this makes all of the images go to 100% of the column that they live inside */
   
   
   .list-group {


padding-left: 500 px;
padding-right: 500 px;


   }
   .card-text-center1 {

    padding-left: 500px;
    padding-right: 500px;

   }
   

    .col {

        padding-top: 50px ;
 }
 
 
    img {
    width: 100%;
    }


.btn {

   
    text-align: center; 
}

.table {

    padding-top: 50px;
    padding-left: 50px;

}